@model Spice.Models.ViewModels.OrderDetailsViewModel

<form method="POST">
    @if (Model.ShoppingCart.Count() > 0)
    {
        <br />
        <input id="userid" asp-for="@Model.ShoppingCart[0].ApplicationUserId" hidden />
        <div class="background-white-border">
            <div class="container">
                <div class="card">
                    <div class="card-header bg-dark text-light ml-0 row container">
                        <div class="col-6">
                            <i class="fas fa-shopping-cart"></i>&nbsp;  Cart
                        </div>
                        <div class="col-6 text-right">
                            <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="btn btn-outline-info btn-sm">Continue Shopping</a>
                        </div>
                    </div>
                    <div class="card-body">
                        @foreach (var item in Model.ShoppingCart)
                        {
                            <div class="row">
                                <div class="d-none d-lg-block col-lg-2 text-center py-2">
                                    <img src="@item.MenuItem.Image" class="rounded" width="120" height="80" />
                                </div>
                                <div class="col-12 text-sm-center col-lg-5 text-lg-left">
                                    <h4>
                                        <strong>@item.MenuItem.Name</strong>
                                        @if (item.Size == 0 && item.MenuItem.Category.Name == "Pizza")
                                        {
                                            <span class="text-muted small"> - Small</span>
                                        }
                                        @if (item.Size == 1 && item.MenuItem.Category.Name == "Pizza")
                                        {
                                            <span class="text-muted small"> - Medium</span>
                                        }
                                        @if (item.Size == 2 && item.MenuItem.Category.Name == "Pizza")
                                        {
                                            <span class="text-muted small"> - Large</span>
                                        }
                                        </h4>
                                        <h4><small>@item.MenuItem.Description</small></h4>
                                    </div>
                                    <div class="col-12 text-sm-center col-lg-5 text-lg-right row">
                                        <div class="col-4 text-md-right p-2">
                                            <h6><strong>$@(item.MenuItem.Price + (4 * item.Size)) <span class="text-muted">x</span> @item.Count</strong></h6>
                                        </div>
                                        <div class="col-6 col-sm-4 col-lg-6">
                                            <div class="float-right mx-1">
                                                <button type="submit" class="btn btn-primary" asp-action="plus" asp-route-cartId="@item.Id">
                                                    <i class="fas fa-plus"></i>
                                                </button>
                                            </div>
                                            <div class="float-right mx-1">
                                                <button type="submit" class="btn btn-danger" asp-action="minus" asp-route-cartId="@item.Id">
                                                    <i class="fas fa-minus"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-2 col-sm-4 col-lg-2 text-right">
                                            <button type="submit" class="btn btn-outline-danger" asp-action="remove" asp-route-cartId="@item.Id">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                            }
                                        <div class="row">
                                            <div class="col-12 col-md-5">
                                                <div class="row">
                                                    <div class="col-7">
                                                        <input asp-for="@Model.OrderHeader.CouponCode" id="txtCouponCode" class="form-control" placeholder="Coupon..." />
                                                    </div>
                                                    <div class="col-5">
                                                        <button type="submit" class="btn form-control btn-outline-success" id="btnCoupon" asp-action="AddCoupon">Use</button>
                                                        <button type="submit" class="btn form-control btn-outline-danger" style="display:none" id="btnRemoveCoupon" asp-action="RemoveCoupon">Remove</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6 offset-md-1 col-lg-4 offset-lg-3 pr-4">
                                                <ul class="list-group">
                                                    <li class="list-group-item d-flex justify-content-between bg-light">
                                                        <span class="text-info">Total</span>
                                                        <strong class="text-info"><span class="txtOrderTotal">$@Model.OrderHeader.OrderTotal</span></strong>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="col-12 col-lg-4 offset-lg-8 col-md-6 offset-md-6">
                                            <a asp-action="Summary" asp-area="Customer" asp-controller="Cart" class="btn btn-success form-control">Summary</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                        else
                        {
                        <div class="background-white-border">No items in Cart...</div>
                        }
                    </form>
                    @section Scripts {
                        <script>
                            $(document).ready(function () {
                                var couponcode = document.getElementById("txtCouponCode").value;
                                if (couponcode.length > 0) {
                                    document.getElementById("btnCoupon").style.display = "none";
                                    document.getElementById("btnRemoveCoupon").style.display = "";
                                } else {
                                    document.getElementById("btnCoupon").style.display = "";
                                    document.getElementById("btnRemoveCoupon").style.display = "none";
                                }
                            });

                        </script>

                    }